@import "../../assets/scss/mixin.scss";

.advertising {
  position: relative;
  overflow: hidden;
  height: 745px;
  h1,
  &__btn,
  img {
    position: absolute;
  }
  h1,
  &__btn {
    z-index: 3;
    left: 50%;
    transform: translateX(-50%) !important; 
  }
  img {
    width: 100%;
  }
  h1 {
    top: 40%;
    transform: translateY(-40%);
  }
  &__btn {
    top: 80%;
    transform: translateY(-80%);
  }
  img {
    left: 0;
    top: 0;
    z-index: 2;
  }
  h1 {
    @include InterRegular;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.04em;
    color: #ffffff;
    width: 665px;
    text-align: center;
  }
}
.advertising::after {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: 2;
  background: linear-gradient(180deg, rgba(36, 56, 110, 0) 0%, rgba(36, 56, 110, 0) 50%, rgba(36, 56, 110, 0.9) 100%);
}
@media (max-width: 1133px) {
  .advertising {
    height: 544px;
    h1 {
      font-size: 64px;
    }
  }
}

@media (max-width: 430px) {
  .advertising {
    height: 217px;
    h1 {
      top: 30%;
      transform: translateY(-30%);
      margin: 0;
      font-size: 25px;
      width: 197px;
      line-height: 30px;
    }
    &__btn {
      text-align: center;
    }
  }
}
